body {
    
    /* background-image: linear-gradient(to right, rgb(6, 190, 182), rgb(72, 177, 191));
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial; */
    background-color: hsl(160, 44%, 62%);

}

.whole-thing-container {
    /* height: 720px;
    width: 510px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-radius:  20px; */
}

.whole-thing {
    background-color: rgb(62, 145, 87);
    /* height: 100%;
    width: 100%; */
    height: 680px;
    width: 510px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-radius:  20px;
    border: solid;
    /* align-items: center; */
    /* text-align: center; */
}

.bumper {
    height: 30px;
}

.grid-container {
    margin-left: auto;
    margin-right: auto;
    height: 85%;
    width: 80%;
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template: 75px 75px auto auto auto auto auto / 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    align-items: center;
}

.container-input {
    grid-column: 1/5;
    grid-row: 1/3;
    background-color: rgb(191, 201, 193);
    border-radius: 10px;
    height: 95%;
    width: 98%; 
    border: solid;
    overflow: hidden;
    font-weight: bold;
    font-family: Arial;
    font-size: 30px;
    overflow: hidden;
}

.input {
    overflow: hidden;
    font-weight: bold;
    position: relative;
    top: 20px;
    left: 20px;
    display: inline;
    word-wrap: none;
}

.result {
    float: right;
    float: bottom;
    overflow: hidden;
    text-align: right;
    width: 450px;
    margin-right: 10px;
    margin-top: 80px;
    word-wrap: none;
}

.container-enter {
    grid-column: 2/5;
    font-weight: bold;
}

#benter {
    width: 300px;
    border: solid black;
}

button {
    width: 80px;
    height: 60px;
    border-radius: 10px;
    outline: none;
    background-color: rgb(44, 85, 90);
    color:   rgb(191, 201, 193);
    font-size: 30px;
    font-weight: bold;
    border: solid black;
}

button:hover {
    transform: scale(1.1);
}

button:active {
    transform: scale(1);
}


